@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

p, a{
    font-family: "Google Sans Flex", sans-serif;
}

body {
  background-color: #FEF6EC;
  margin: 0;
  padding: 0;
}